<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Steven Huang</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type='text/css'>
    </head>

    <body>
        <div class='frontpage' id='first'>
            This is the front page
        </div>

        <div class='menu' id='second'>
            This is the menu bar
        </div>

        <div class='content' id='third'>
            This is the content section
        </div>

        <div class='footer' id='fourth'>
            This is the footer
        </div>
    </body>
</html>